$bp-small: 576px;
$bp-medium: 768px;
$bp-4k: 3800px;

$mq-small: '(max-width: #{$bp-small})';
$mq-medium: '(max-width: #{$bp-medium})';
$mq-4k: '(min-width: #{$bp-4k})';

$font-color: #0f0f0f;
$font-color-light: #606060;
