@use './utils.sass.scss';
@use './config.sass.scss' as *;

$nav-height: 56px;
$avatar-btn-size: 32px;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: $nav-height;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
  padding: 0 16px;

  .video-searchbar {
    width: 33%;
    height: 75%;

    input {
      width: 100%;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 2px #eee;
      border-radius: 40px 0 0 40px;
      padding: 8px 4px 8px 16px;
      color: #111111;
      caret-color: #0f0f0f;
      border-right: none;

      &:focus {
        border: 1px solid #1c62b9;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
      }
    }

    button.search-btn {
      padding: 1px 16px;
      background-color: #f8f8f8;
      border: 1px solid #d3d3d3;
      border-radius: 0 40px 40px 0;

      &:hover {
        background-color: #f0f0f0;
      }

      &:focus {
        background-color: #e9e9e9;
      }
    }
  }

  .sign-in-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    color: #065fd4;
    font-weight: 600;

    * {
      color: #065fd4;
    }

    &:hover:not(:active) {
      background-color: #def1ff;
      border: none;
    }

    &:active {
      background-color: darken(#def1ff, 8%);
    }
  }

  .avatar-btn {
    img {
      box-sizing: border-box;
      width: $avatar-btn-size;
      height: $avatar-btn-size;
    }

    &:focus-within {
      .dropdown-btn img {
        border: 1px solid blue;
      }
    }

    .avatar-btn-dropdown {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .notifications-btn {
    .dropdown-btn svg {
      border-radius: 24px;
    }

    .dropdown-btn svg:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      .dropdown-btn svg {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .notifications-btn-dropdown {
      * {
        color: #606060;
      }
    }
  }
}

.media-mingle-logo {
  svg {
    font-size: 1.5em;

    path {
      color: red;
    }
  }
}

@media ($mq-small) {
  nav {
    padding-top: 8px;
    flex-direction: column;
    height: unset;
    gap: 8px;

    .video-searchbar {
      width: 100%;

      input {
        width: 100%;
      }
    }

    .navbar-btns {
      position: absolute;
      right: 16px;
      gap: 6px;
    }
  }
}

@media ($mq-4k) {
  nav {
    height: calc($nav-height * 2);

    .avatar-btn img {
      width: calc($avatar-btn-size * 2);
      height: calc($avatar-btn-size * 2);
    }
  }
}
