nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 64px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 3;
}
