@use './config.sass.scss' as *;

$thumnail-width: 360px;
$avatar-size: 36px;

.video-preview {
  cursor: pointer;
  width: fit-content;

  .thumbnail-wrapper {
    position: relative;
    width: fit-content;
  }

  img.thumbnail {
    border-radius: 12px;
    aspect-ratio: 16 / 9;
    width: $thumnail-width;
  }

  img.avatar {
    width: $avatar-size;
    height: $avatar-size;
    aspect-ratio: 1 / 1;
  }

  .video-info {
    * {
      color: $font-color-light;
    }
  }

  .video-duration-box {
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    font-weight: 600;
    position: absolute;
    padding: 2px 4px;
    right: 8px;
    bottom: 12px;
    border-radius: 4px;

    * {
      color: white;
    }
  }

  .author {
    &:hover {
      color: $font-color;
    }
  }
}

.home-video-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($thumnail-width, 1fr));
  row-gap: 40px;
  column-gap: 4px;
  justify-items: center;
}

// VIDEO PAGE

.video video {
  width: 64vw;
}

.video-suggestions {
  .video-preview img.thumbnail {
    width: calc($thumnail-width * 2 / 3);
  }

  .home-video-feed {
    grid-template-columns: repeat(auto-fit, minmax(calc($thumnail-width * 2 / 3), 1fr));
  }
}

@media ($mq-small) {
  .home-video-feed {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .video video {
    width: 90vw;
  }
}

@media ($mq-medium) {
  .video-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media ($mq-4k) {
  .home-video-feed {
    grid-template-columns: repeat(auto-fit, minmax(calc($thumnail-width * 2), 1fr));
  }

  .video-preview {
    img.thumbnail {
      width: calc($thumnail-width * 2);
    }

    img.avatar {
      width: calc($avatar-size * 2);
      height: calc($avatar-size * 2);
    }
  }
}
